/**********************************************
* smoothState.js Example Project CSS
* @author rlewis37@cnm.edu
**********************************************/

/**********************************************
* Base Styles
**********************************************/
body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	color: #000;
}

h1,
.h1 {
	font-family: 'Cormorant', "Times New Roman", Times, Serif;
	font-size: 5rem;
}
/**********************************************
* Utility Styles
**********************************************/

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/**********************************************
* Animation
**********************************************/

/**********************************************
* Navbar Styles
**********************************************/
.navbar-inverse {
	background: rgba(0,0,0,0.95);
	border-color: transparent;
}

.navbar-brand {
	font-family: 'Cormorant', "Times New Roman", Times, Serif;
	font-size: 2.5rem;
	font-weight: 400;
}
/**********************************************
* Welcome Section Styles
**********************************************/
#welcome {
	padding-top: 12rem;
	padding-bottom: 6rem;
	background: url("../images/hyacinth-1403653_1920.jpg") center center;
	background-attachment: fixed;
}

#welcome .jumbotron {
	background: rgba(0,0,0,0.25);
	color: white;
}

#welcome .jumbotron h1 {
	text-shadow: 1px 1px 1px #000;
}

@media only screen and (min-width: 991px) {
	#welcome {
		min-height: 100vh;
		display: flex;
		align-items: center;
		padding: 0;
	}
}
/**********************************************
* Page Lead Styles
**********************************************/
#page-leader {
	background-color: gold;
}

.content-layout #page-leader {
	margin-top: 50px;
}

.about-page #page-leader {
	background-color: orchid;
}

.contact-page #page-leader {
	background-color: cornflowerblue;
}

/**********************************************
* Content Styles
**********************************************/
main {
	background-color: #fff;
	padding: 8rem 0 10rem 0;
}

/**********************************************
* Footer Styles
**********************************************/
footer {
	background-color: black;
	color: #555;
}
